body,
html,
.view {
  height: 100%;
  background-color: #1f1a24;
  color: #fff;
  width: 100%;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
.section2 {
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 10%;
}
.box {
  background-color: rgba(217, 216, 216, 0.506);
  border-radius: 2%;
}
#change-text {
  font-family: Verdana, sans-serif;
}
.section3 {
  align-items: center;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
.section3 img {
  height: 70%;
}
#change-text::after {
  content: "";
  animation-name: changeplacename;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.gallery {
  margin: 0;
  padding: 0 20%;
  align-items: center;
}

.gallery img:hover {
  transform: scale(1.4);
  transition: 0.2s;
}

.about-us {
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 10%;
}
.about {
  background-color: #070812;
  border-radius: 2%;
  color: #ffffffc7;
}

@keyframes changeplacename {
  0% {
    content: "France";
  }
  50% {
    content: "Germany";
  }
  75% {
    content: "Canada";
  }
  100% {
    content: "Russia";
  }
}
